# docker-compose.yml
version: '3.8'

networks:
  host:
services:
  api:
    build: .
    ports:
      - "3000:3000"
      - "25:25" 
    env_file:
      - .env
    depends_on:
      - mongo
      - rabbitmq
    restart: unless-stopped
    networks:
      - host
  worker:
    build: .
    command: npm run worker
    env_file:
      - .env
    depends_on:
      - mongo
      - rabbitmq
    restart: unless-stopped
    networks:
      - host
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    restart: unless-stopped
    networks:
      - host
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - host
volumes:
  mongo-data: